* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto";
  overflow-x: hidden;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container {
  width: 60%;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}
/* HEADER */

.header {
  background-color: #6c63ff;
  display: flex;
  color: white;
  padding: 10px 0;
  position: sticky;
}
.logo {
  font-size: 0.8em;
}

.logo:hover {
  font-size: 0.9em;
  cursor: pointer;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  position: sticky;
  overflow: hidden;
  top: 0;
}

.nav-bar .nav-links {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
}

.nav-bar .nav-links a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  font-size: 1em;
  cursor: pointer;
}

.nav-bar .nav-links a:hover {
  font-size: 1.3em;
  font-weight: bold;
}

/* HOME PAGE */

.container-home {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.container-home span {
  color: #ffd037;
}

.container-home .text-box {
  width: 400px;
  height: 200px;

  white-space: 1.4em;
  color: #545777;
  font-family: "Ubuntu";
  line-height: 2em;
}

.container-home .main-img {
  background: url("/imgs/illustration_1.svg") no-repeat center/cover;
  /* background-repeat: no-repeat;
  background-size: cover; */
  width: 600px;
  height: 500px;
}

.container-about {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.container-about .text-box {
  width: 460px;
  height: 460px;
  white-space: 1.4em;
  color: #545777;
  font-family: "Ubuntu";
  line-height: 2em;
  margin-left: 40px;
}
.container-about .text-box p {
  padding: 0 30px;
  font-size: 1.2em;
}
.container-about .text-box p span {
  color: #ff6584;
  font-weight: bold;
}

.container-about .text-box h2 {
  color: #ff6584;

  padding-bottom: 30px;
  padding-left: 30px;
}

.about-img {
  background: url("/imgs/about.svg") no-repeat center/cover;
  width: 460px;
  height: 460px;
}

/* PROJECTS */

.container-projects {
  height: 100vh;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}
.container-projects h2 {
  padding: 30px;
  color: #545777;
}

.project-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  border: 2px solid #545777;
  width: 354px;
  height: 200px;
  margin: 20px;
  background: url("imgs/inprogress.svg") center/cover no-repeat;
}

/* CONTACT FORM */

.container-contact {
  height: 100vh;
  padding-top: 150px;
}

.container-contact h2 {
  padding: 30px;
  color: #545777;
}

.contact-form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.inputs-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.half-left-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  padding: 20px;
  flex-grow: 1;
}

.half-right-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  padding: 20px;
  flex-grow: 1;
}

.half-left-contact input {
  margin: 20px 0;
  border: none;
  border-bottom: 2px solid #6c63ff;
  height: 50px;
}

.half-left-contact input:focus {
  outline: none;
}

.half-right-contact textarea {
  margin: 20px 0;
  /* border: 2px solid #6c63ff; */
  /* border-radius: 10px; */
  border: none;
  border-bottom: 2px solid #6c63ff;
  height: 220px;
  width: auto;
  outline: none;
  resize: none;
}

.half-right-contact textarea:focus {
  outline: none;
}

.contact-form {
  font-family: inherit;
  border-radius: 10px;
  /* box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.2), 6px 3px 3px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}
#input-submit {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  border: none;
  background-color: #6c63ff;
  color: white;
}

#input-submit:hover {
  cursor: pointer;
  opacity: 0.8;
  font-size: 0.9em;
}

.footer {
  background-color: #6c63ff;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer .social h3 {
  text-align: center;
  padding: 0 0 15px 0;
}
.footer .social i {
  color: white;
  font-size: 2em;
  padding: 10px 10px;
}
